.mat-dialog-content {
  max-height: 85vh;
}

.container {
  text-align: center;
  height: 100%;
  width: 100%;
}

.container h4 {
  margin: 0.2em;
}

.image {
  margin: 0 auto;
  max-height: 425px;
  max-width: 425px;
}

.image img {
  max-width: 100%;
  max-height: 100%;
}

.credits {
  display: inline-flex;
  text-align: center;
}

.credits h4:not(:first-child):before {
  content: "-";
  padding: 0 5px;
  font-size: 0.75em;
}

@media all and (min-width: 0) and (max-width: 415px) and (orientation: portrait) {
  .credits h4 {
    font-size: 0.9em;
  }
}
