<mat-sidenav-container
  class="sidenav-container"
  (keydown.esc)="drawer.close()"
  [hasBackdrop]="true"
>
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    (click)="drawer.toggle()"
    position="end"
  >
    <mat-nav-list>
      <a mat-list-item [routerLink]="['']">Home</a>
      <a mat-list-item [routerLink]="['about']">About</a>
      <a mat-list-item [routerLink]="['contact']">Contact</a>
      <a mat-list-item [routerLink]="['upload']">Upload</a>
      <a mat-list-item [routerLink]="['listAlbum']">ListAlbums</a>
      <a mat-list-item [routerLink]="['uploadLink']">Upload Link</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar
      color="black"
      class="desktopToolbar"
      *ngIf="!(isHandset$ | async)"
    >
      <a [routerLink]="['']">Home</a>
      <a [routerLink]="['about']">About</a>
      <a [routerLink]="['contact']">Contact</a>
      <a [routerLink]="['upload']">Upload</a>
      <a [routerLink]="['listAlbum']">ListAlbums</a>
      <a [routerLink]="['uploadLink']">Upload Link</a>
    </mat-toolbar>

    <mat-toolbar color="black" *ngIf="(isHandset$ | async)">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        class="menuBtn"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Add Content Here -->

    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
