.container {
  margin: 0 auto 2em;
  padding: 0;
  background-color: #000;
  /* background-color: rgba(0, 0, 0, 0.75); */
  border-radius: 4px;
  max-height: 250px;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  grid-template-rows: 3fr 0.5fr;
  grid-template-areas:
    "image text"
    "image navigation";
}

.imageContainer {
  grid-area: image;
}

.imageContainer img {
  height: 100%;
  margin-left: 10%;
}

.info {
  grid-area: text;
  text-align: right;
  margin-right: 30%;
}

.navigation {
  grid-area: navigation;
  vertical-align: bottom;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 0;
  height: 35px;
  display: flex;
  justify-content: space-around;
}

.navigation a {
  color: #fff;
  font-size: 1.5em;
  text-decoration: none;
}

.colorButton {
  background-color: red;
}
