#container {
  max-width: 900px;
  height: 400px;
  margin-left: calc(50% - 450px);
  background-repeat: no-repeat;
  background-size: contain;
  background-image: url("../../assets/SkinnyBanner-v1.1.png");
}

.about {
  position: absolute;
  top: 178px;
  left: 25%;
}

.bannerImage {
  /* grid-area: image; */
}

.hide {
  position: absolute;
  left: 40%;
  top: 178px;
  width: 20%;
  text-align: center;
  /* outline: 1px solid red; */
}

#container a {
  font-size: 2em;
  color: #fff;
  text-decoration: none;
}

.home {
  visibility: hidden;
  font-size: 2.75em;
  color: #000;
}

.hide:hover .home {
  /* visibility: hidden; */
  visibility: visible;
}

.contact {
  position: absolute;
  top: 178px;
  right: 25%;
}
