.container {
  width: 80%;
  max-width: 900px;
  margin: 0.5em auto 0;
  padding: 1.5em 2em 3em;
  background-color: rgb(66, 66, 66);
  border-radius: 4px;
}

.container h1 {
  text-align: center;
  margin-bottom: 1.25em;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 55px;
  grid-template-areas:
    "input image"
    "btn btn";
}

.input {
  grid-area: input;
  /* outline: 1px solid yellow; */
}

.input mat-form-field {
  display: block;
}

.imageUpload {
  grid-area: image;
  /* outline: 1px solid blue; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  display: block;
  /* outline: 1px solid cyan; */
}

.file {
  display: block;
  /* outline: 1px solid pink; */
  /* width: 225px; */
}

.fileBtn {
  margin: 1em;
}

img {
  min-height: 225px;
  min-width: 225px;
  max-height: 225px;
  max-width: 225px;
  /* outline: 1px solid red; */
}

.btn {
  grid-area: btn;
  margin-top: 1.5em;
}
/* .
formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "artist image"
    "album image"
    "year image"
    "credits file"
    "btn btn";
}

.artist {
  grid-area: artist;
}

.album {
  grid-area: album;
}

.year {
  grid-area: year;
}

.credits {
  grid-area: credits;
}

.file {
  grid-area: file;
  margin-left: 5em;
}

.image {
  grid-area: image;
  margin-left: 5em;
}

.btn {
  grid-area: btn;
}
 */
