<div class="container">
  <h1>
    Upload New Album
    <hr />

    <!-- {{ uploadPercent | async }} -- {{ downloadURL | async }} -->
  </h1>

  <form
    class="formContainer"
    [formGroup]="newAlbum"
    #formDirective="ngForm"
    (ngSubmit)="onSubmit(formDirective)"
  >
    <div class="input">
      <mat-form-field>
        <input
          matInput
          class="artist"
          placeholder="Artist"
          formControlName="artist"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="album"
          placeholder="Album"
          formControlName="album"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <input
          matInput
          class="year"
          type="number"
          placeholder="Year Released"
          formControlName="year"
          required
          maxlength="4"
          minlength="4"
        />
      </mat-form-field>

      <mat-form-field>
        <input
          matInput
          class="credits"
          placeholder="Credits"
          formControlName="credits"
          required
        />
      </mat-form-field>
    </div>

    <div class="imageUpload">
      <img
        *ngIf="!reader"
        class="image"
        #albumCover
        src="../../assets/AddImageHere.png"
      />
      <img *ngIf="reader" class="image" #albumCover src="#" />

      <input
        class="file"
        type="file"
        style="display: none"
        (change)="imagePreview($event)"
        #fileInput
        formControlName="image"
        data-max-size="2mb"
      />
      <button
        mat-raised-button
        type="button"
        class="fileBtn"
        (click)="fileInput.click()"
      >
        Choose File
      </button>
    </div>

    <button
      mat-raised-button
      class="btn"
      type="submit"
      [disabled]="!newAlbum.valid"
    >
      Submit
    </button>
  </form>

  <ng-container *ngIf="(uploadPercent | async); let uploadPercent">
    <mat-progress-bar
      mode="determinate"
      *ngIf="uploadPercent !== 100"
      [value]="uploadPercent"
    ></mat-progress-bar>
  </ng-container>

  <!-- <mat-progress-bar
    class="progressBar"
    mode="determinate"
    [value]="uploadPercent | async"
    color="accent"
    *ngIf="showProgressBar && (uploadPercent | async) != 100"
  ></mat-progress-bar> -->
</div>
