.container {
  width: 80%;
  max-width: 900px;
  margin: 4em auto 0;
  padding: 0 2em;
}

h1 {
  text-align: center;
}

table {
  width: 100%;
}

td,
th {
  width: 20%;
}

td img {
  height: 50px;
  width: 50px;
}
