.container {
  width: 80%;
  max-width: 900px;
  margin: 2em auto 5em;
  padding: 0 2em;
  min-height: 700px;
}

.contain {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.albums {
  width: 32%;
  margin-bottom: 20px;
}
