.container {
  /* margin: 5px 0; */
}
app-banner {
  width: 100%;
  display: block;
}

.albums {
  /* margin-top: 150px; */
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

app-album {
  width: 31%;
  margin-bottom: 20px;
}
