.container {
  width: 80%;
  max-width: 900px;
  margin: 4em auto 0;
  padding: 0 2em;
}

.container h1 {
  text-align: center;
}

mat-form-field {
  width: 40%;
  margin-right: 2%;
}

.formContainer button {
  max-width: 15%;
}
